<% include ../partials/header %>

<div class="container wrapper">
  <header class="jumbotron blog-banner">
    <div class="container">
      <h1>Blog</h1>
      <p>
        <a class="btn btn-primary btn-md" href="/blogs/new">Write a Blog</a>
      </p>
    </div>
  </header>

  <div class="continent-collapse">
    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-af" aria-expanded="false" aria-controls="collapse-af">
        <a href="#collapse-af">Africa</a>
      </div>
      <div class="collapse" id="collapse-af">
        <div class="card card-body">
          <div class="row text-center">
            <% blogs.forEach(function(blog){ %>
            <% if (blog['continent'] == 'Africa') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/blogs/<%= blog['_id'] %>"><img src="<%= blog.coverImage %>"  class="card-img-top" alt="<%= blog.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.city %></h5>
                    <p class="card-desc"><%= blog.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-as" aria-expanded="false" aria-controls="collapse-as">
        <a href="#collapse-as">Asia</a>
      </div>
      <div class="collapse" id="collapse-as">
        <div class="card card-body">
          <div class="row text-center">
            <% blogs.forEach(function(blog){ %>
            <% if (blog['continent'] == 'Asia') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/blogs/<%= blog['_id'] %>"><img src="<%= blog.coverImage %>"  class="card-img-top" alt="<%= blog.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.city %></h5>
                    <p class="card-desc"><%= blog.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-eu" aria-expanded="false" aria-controls="collapse-eu">
        <a href="#collapse-as">Europe</a>
      </div>
      <div class="collapse" id="collapse-eu">
        <div class="card card-body">
          <div class="row text-center">
            <% blogs.forEach(function(blog){ %>
            <% if (blog['continent'] == 'Asia') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/blogs/<%= blog['_id'] %>"><img src="<%= blog.coverImage %>"  class="card-img-top" alt="<%= blog.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.city %></h5>
                    <p class="card-desc"><%= blog.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-na" aria-expanded="false" aria-controls="collapse-na">
        <a href="#collapse-na">North America</a>
      </div>
      <div class="collapse" id="collapse-na">
        <div class="card card-body">
          <div class="row text-center">
            <% blogs.forEach(function(blog){ %>
            <% if (blog['continent'] == 'North America') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/blogs/<%= blog['_id'] %>"><img src="<%= blog.coverImage %>"  class="card-img-top" alt="<%= blog.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.city %></h5>
                    <p class="card-desc"><%= blog.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-oc" aria-expanded="false" aria-controls="collapse-oc">
        <a href="#collapse-oc">Oceania</a>
      </div>
      <div class="collapse" id="collapse-oc">
        <div class="card card-body">
          <div class="row text-center">
            <% blogs.forEach(function(blog){ %>
            <% if (blog['continent'] == 'Oceania') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/blogs/<%= blog['_id'] %>"><img src="<%= blog.coverImage %>"  class="card-img-top" alt="<%= blog.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.city %></h5>
                    <p class="card-desc"><%= blog.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-sa" aria-expanded="false" aria-controls="collapse-sa">
        <a href="#collapse-na">South America</a>
      </div>
      <div class="collapse" id="collapse-sa">
        <div class="card card-body">
          <div class="row text-center">
            <% blogs.forEach(function(blog){ %>
            <% if (blog['continent'] == 'South America') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/blogs/<%= blog['_id'] %>"><img src="<%= blog.coverImage %>"  class="card-img-top" alt="<%= blog.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.city %></h5>
                    <p class="card-desc"><%= blog.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<% include ../partials/footer %>