<% include ../partials/header %>

<div class="container wrapper">
  <header class="jumbotron gallery-banner">
    <div class="container">
      <h1>Gallery</h1>
      <p>
        <a class="btn btn-primary btn-md" href="/galleries/new">Create a Gallery</a>
      </p>
    </div>
  </header>

  <div class="continent-collapse">
    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-af" aria-expanded="false" aria-controls="collapse-af">
        <a href="#collapse-af"><h3>Africa</h3></a>
      </div>
      <div class="collapse" id="collapse-af">
        <div class="card card-body">
          <div class="row text-center">
            <% galleries.forEach(function(gallery){ %>
            <% if (gallery['continent'] == 'Africa') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/galleries/<%= gallery['_id'] %>"><img src="<%= gallery.coverImage %>"  class="card-img-top" alt="<%= gallery.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= gallery.city %></h5>
                    <p class="card-desc"><%= gallery.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-as" aria-expanded="false" aria-controls="collapse-as">
        <a href="#collapse-as"><h3>Asia</h3></a>
      </div>
      <div class="collapse" id="collapse-as">
        <div class="card card-body">
          <div class="row text-center">
            <% galleries.forEach(function(gallery){ %>
            <% if (gallery['continent'] == 'Asia') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/galleries/<%= gallery['_id'] %>"><img src="<%= gallery.coverImage %>"  class="card-img-top" alt="<%= gallery.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= gallery.city %></h5>
                    <p class="card-desc"><%= gallery.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-eu" aria-expanded="false" aria-controls="collapse-eu">
        <a href="#collapse-as"><h3>Europe</h3></a>
      </div>
      <div class="collapse" id="collapse-eu">
        <div class="card card-body">
          <div class="row text-center">
            <% galleries.forEach(function(gallery){ %>
            <% if (gallery['continent'] == 'Europe') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/galleries/<%= gallery['_id'] %>"><img src="<%= gallery.coverImage %>"  class="card-img-top" alt="<%= gallery.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= gallery.city %></h5>
                    <p class="card-desc"><%= gallery.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-na" aria-expanded="false" aria-controls="collapse-na">
        <a href="#collapse-na"><h3>North America</h3></a>
      </div>
      <div class="collapse" id="collapse-na">
        <div class="card card-body">
          <div class="row text-center">
            <% galleries.forEach(function(gallery){ %>
            <% if (gallery['continent'] == 'North America') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/galleries/<%= gallery['_id'] %>"><img src="<%= gallery.coverImage %>"  class="card-img-top" alt="<%= gallery.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= gallery.city %></h5>
                    <p class="card-desc"><%= gallery.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-oc" aria-expanded="false" aria-controls="collapse-oc">
        <a href="#collapse-oc"><h3>Oceania</h3></a>
      </div>
      <div class="collapse" id="collapse-oc">
        <div class="card card-body">
          <div class="row text-center">
            <% galleries.forEach(function(gallery){ %>
            <% if (gallery['continent'] == 'Oceania') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/galleries/<%= gallery['_id'] %>"><img src="<%= gallery.coverImage %>"  class="card-img-top" alt="<%= gallery.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= gallery.city %></h5>
                    <p class="card-desc"><%= gallery.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header collapsed" role="button" data-toggle="collapse" href="#collapse-sa" aria-expanded="false" aria-controls="collapse-sa">
        <a href="#collapse-na"><h3>South America</h3></a>
      </div>
      <div class="collapse" id="collapse-sa">
        <div class="card card-body">
          <div class="row text-center">
            <% galleries.forEach(function(gallery){ %>
            <% if (gallery['continent'] == 'South America') { %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <a href="/galleries/<%= gallery['_id'] %>"><img src="<%= gallery.coverImage %>"  class="card-img-top" alt="<%= gallery.city %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= gallery.city %></h5>
                    <p class="card-desc"><%= gallery.description %></p>
                  </div>
                </div>
              </div>
            <% } }); %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<% include ../partials/footer %>